{% extends "app_annance/base.html" %}
 {% block content %}  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <div class="card-title"> titre :{{ annance2_objects.titre }}</div>
        <img src="{{ photo_objects.url }}" alt="" class="card-ing-top" />
        <div class="card-text">categorie : :{{ annance2_objects.categorie }}</div>
        <div class="card-text">type :{{ annance2_objects.type }}</div>
        <div class="card-text">surface :{{ annance2_objects.surface }}</div>
        <div class="card-text">date  :{{ annance2_objects.date }}</div>
        <div class="card-text">prix :{{ annance2_objects.prix }}</div>
        <div class="card-text">wilaya:{{ annance2_objects.wilaya }}</div>
        <div class="card-text">commune :{{ annance2_objects.commune }}</div>
        <div class="card-text">adresse :{{ annance2_objects.adresse }}</div>
        <h3>
         La description :
        </h3>
        <div class="card-text">{{ annance2_objects.description }}</div>
        <h3>
          info de contact  :
         </h3>
         <div class="card-text">email :{{ annanceur_objects.email}}</div>
         <div class="card-text">telephone : {{ annanceur_objects.telephone}}</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
