{% extends "app_annance/base.html" %} {% block content %}

<div class="row">
  {% for annance in annance_object %}
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <div class="card-title">{{ annance.titre }}</div>
        {% for photo in photo_object %} 
          {% if photo.idAnnance_id == annance.id %}
              <img src="{{ photo.url }}" alt="" />
           {% endif %}
         {% endfor %}
        <div class="card-text">{{ annance.description }}</div>
        <div class="card-text">localisation :{{ annance.adresse }}</div>
        <div class="card-text">prix :{{ annance.prix }}</div>
        <a href="{{ annance.id }}" class="btn btn-warning">Detail</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
